In [2]:
%config Completer.use_jedi = True

# USDA Food Database

In [3]:
import pandas as pd
import numpy as np
import json

In [5]:
#!head data/usda_food_database.json

In [6]:
temp = pd.read_json("data/usda_food_database.json")

In [7]:
temp.head()

,id,description,tags,manufacturer,group,portions,nutrients
0,1008,"Cheese, caraway",[],,Dairy and Egg Products,"[{'amount': 1, 'unit': 'oz', 'grams': 28.35}]","[{'value': 25.18, 'units': 'g', 'description':..."
1,1009,"Cheese, cheddar",[],,Dairy and Egg Products,"[{'amount': 1, 'unit': 'cup, diced', 'grams': ...","[{'value': 24.9, 'units': 'g', 'description': ..."
2,1018,"Cheese, edam",[],,Dairy and Egg Products,"[{'amount': 1, 'unit': 'oz', 'grams': 28.35}, ...","[{'value': 4.22, 'units': 'g', 'description': ..."
3,1019,"Cheese, feta",[],,Dairy and Egg Products,"[{'amount': 1, 'unit': 'cup, crumbled', 'grams...","[{'value': 5.2, 'units': 'g', 'description': '..."
4,1028,"Cheese, mozzarella, part skim milk",[],,Dairy and Egg Products,"[{'amount': 1, 'unit': 'oz', 'grams': 28.35}]","[{'value': 3.27, 'units': 'g', 'description': ..."

In [8]:
db = json.load(open("data/usda_food_database.json"))

In [9]:
db[0].keys()

dict_keys(['id', 'description', 'tags', 'manufacturer', 'group', 'portions', 'nutrients'])

In [10]:
db[0]['nutrients'][0]

{'value': 25.18,
 'units': 'g',
 'description': 'Protein',
 'group': 'Composition'}

In [11]:
nutrients = pd.DataFrame(db[0]['nutrients'])

In [12]:
nutrients.head()

    value units                  description        group
0   25.18     g                      Protein  Composition
1   29.20     g            Total lipid (fat)  Composition
2    3.06     g  Carbohydrate, by difference  Composition
3    3.28     g                          Ash        Other
4  376.00  kcal                       Energy       Energy

In [14]:
cols = ['description', 'group', 'id', 'manufacturer']

In [15]:
info = pd.DataFrame(db, columns=cols)

In [16]:
info.head()

,description,group,id,manufacturer
0,"Cheese, caraway",Dairy and Egg Products,1008,
1,"Cheese, cheddar",Dairy and Egg Products,1009,
2,"Cheese, edam",Dairy and Egg Products,1018,
3,"Cheese, feta",Dairy and Egg Products,1019,
4,"Cheese, mozzarella, part skim milk",Dairy and Egg Products,1028,

In [19]:
info['manufacturer'].value_counts()

                                      4132
Campbell Soup Co.                      203
Kellogg, Co.                           189
The Quaker Oats, Co.                    98
McDonald's Corporation                  84
                                      ...
ConAgra, Inc.                            1
McKee Baking, Co.                        1
Pepsi-Cola North America                 1
Crystal Geyser Alpine Spring Water       1
Merisant Company                         1
Name: manufacturer, Length: 67, dtype: int64

In [20]:
info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6636 entries, 0 to 6635
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   description   6636 non-null   object
 1   group         6636 non-null   object
 2   id            6636 non-null   int64
 3   manufacturer  5195 non-null   object
dtypes: int64(1), object(3)
memory usage: 207.5+ KB